.Link {
  display: block;
  border: 3px solid black;
  border-radius: 20px;
  max-width: 500px;
  padding: 5px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: #2c3e50;
  background: white;
}

.Link:hover {
  background: #2c3e50;
  color: white;
}
